@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";
@import "./layout.css";
@import "./maz-ui-variables.css";
import 'maz-ui/styles'

* {
  transition: 200ms all;
  scroll-behavior: smooth;
}

* {
  transition: 200ms all;
  scroll-behavior: smooth;
}

[data-reka-popper-content-wrapper]{
  transition: unset;
}

#navbar,
body{
  transition: 200ms all ease-in-out;

}

::selection {
  background-color: #eeeeee !important;
}

.dark ::selection {
  background-color: #142550 !important;
}

/* Scroll bar */

  * {
    scrollbar-color: gray transparent;
    scrollbar-width: thin;
  }

  .docsContent:has(iframe){
    overflow: hidden;
  }

/* Font classes */

@font-face {
  font-family: 'requiemregular';
  src: url(\PersonalSite2025\fonts\requiem\Requiem.ttf);
}

.outfit,
.varela{
  font-family: "Mona Sans", sans-serif;
}

.aTheme .varela {
  font-family: "Varela Round", sans-serif;
}

.zTheme .varela{
  font-family: Requiem, serif !important;
}

.aTheme .outfit {
  font-family: "Outfit", sans-serif;
}

.zTheme .outfit{
  font-family: "IM Fell DW Pica", serif !important;
}

*{
  font-family: "Mona Sans", sans-serif;
}

.aTheme *{
  font-family: "Outfit", sans-serif;
}

.zTheme *{
  font-family: "IM Fell DW Pica", serif !important;
}

/* Dark-mode specific styles */

.dark video,
.dark img{
  filter: brightness(0.8);
}

.dark img.dark\:invert-100{
  filter: invert(100);
}

/* Overriding Maz-UI styles */

.maz-elevation {
  box-shadow: none !important;
}

.m-input-wrapper {
  overflow: visible !important;
  z-index: 3 !important;
}

.m-select-list{
  --maz-border-color: #e5e7eb;
}

.m-select .maz-border-primary {
  border-color: transparent !important;
}

.m-table-header {
  background: transparent !important;
  justify-content: center !important;
  padding: 0 !important;
}

.m-table-header .m-input-wrapper {
  width: calc(100vw - 49.5rem);
  background: transparent !important;
  border: none !important;
  border-bottom: var(--maz-border-color) solid 1px !important;
}

.dark .m-table-header .m-input-wrapper{
  border-bottom: #4a5565 solid 1px !important;
}

.m-table-wrapper {
  border: none !important;
}

td.m-table-cell{
  font-size: 1rem !important;
}

tr.m-table-row:hover{
  background-color: var(--color-blue-50) !important;
}

.dark tr.m-table-row:hover{
  background-color: #181821 !important;
}

.m-stepper__content{
  border-color: var(--maz-color-primary-alpha-20) !important;
  border-left-width: 2px !important;
}

.m-stepper__header:not(.--is-current-step) + .m-stepper__content.--no-border {
  border-color: transparent !important;
}

.m-stepper__header{
  border-color: var(--maz-color-primary-alpha-20) !important;
  border-width: 2px !important;
  background-color: var(--ui-bg) !important;
}
.m-stepper__header:hover{
  background-color: var(--maz-color-primary-alpha-05) !important;
}

/* Overriding Nuxt UI styles */

span[role="slider"].ring-inverted {
  --tw-ring-color: #b3b9c0;
}

.dark span[role="slider"].ring-inverted {
  --tw-ring-color: #737373;
}

.dark {
 --ui-bg: #000
}

/*
  Cursors by GeorgiosNexus (Light cursors) & AKGAMER (Dark cursors)
  http://www.rw-designer.com/cursor-set/windows-11-light-theme
  http://www.rw-designer.com/cursor-set/windows-11-dark-theme
*/

textarea,
label,
html {
  cursor: url(/PersonalSite2025/cursors/light-Point.cur),
    auto !important;
}

span[role="slider"],
.clickable,
button,
input,
#credits,
a {
  cursor: url(/PersonalSite2025/cursors/light-Click.cur),
    auto !important;
}

button[disabled],
.stepper button {
  cursor: url(/PersonalSite2025/cursors/light-Point.cur),
  auto !important;
}

.dark textarea,
.dark label,
html.dark {
  cursor: url(/PersonalSite2025/cursors/dark-Point.cur),
    auto !important;
}

.dark span[role="slider"],
.dark .clickable,
.dark button,
.dark input,
.dark #credits,
.dark a {
  cursor: url(/PersonalSite2025/cursors/dark-Click.cur),
    auto !important;
}

.dark button[disabled],
.dark .stepper button {
  cursor: url(/PersonalSite2025/cursors/dark-Point.cur),
  auto !important;
}

/* Other */

.cardShadow{
  box-shadow: #00000007 0 5px 15px, #191c210c 0 15px 35px -5px, #00000006 0 0 0 1px;
}

.dark .cardShadow{
  box-shadow: #00000014 0 5px 15px, #191c2133 0 15px 35px -5px, #ffffff12 0 0 0 1px;
}

.boxLink{
  text-decoration: underline;

  &:hover {
    border-radius: 0.5rem;
    padding: 0.5rem;
    filter: brightness(0.5);
    box-shadow: #00000014 0 5px 15px, #191c2133 0 15px 35px -5px, #ffffff12 0 0 0 1px;
  }
}

html:not(.mTheme, .aTheme, .zTheme) .boxLink{
  &:hover {
    filter: brightness(1);
  }
}

.ScrollBlur {
  &:before {
    content: "";
    inset: 0;
    display: block;
    backdrop-filter: blur(2px) saturate(1.2);
    mask-image: linear-gradient(rgba(#000, 0), rgba(#000, .9) 80%, #000);
    position: fixed;
    top: 1.5rem;
    left: 23rem;
    height: 2.5rem;
    z-index: 10;
    width: calc(100% - 28rem);
    pointer-events: none;
  }

  &:after {
    content: "";
    display: block;
    -webkit-backdrop-filter: blur(1px) saturate(1.2);
    backdrop-filter: blur(2px) saturate(1.2);
    -webkit-mask-image: linear-gradient(rgba(#000, 0), rgba(#000, .9) 80%, #000);
    mask-image: linear-gradient(rgba(#000, 0), rgba(#000, .9) 80%, #000);
    position: fixed;
    bottom: 4.5rem;
    left: 23rem;
    height: 2rem;
    z-index: 0;
    width: calc(100% - 28rem);
    pointer-events: none;
  }
}

.skillsScrollBlur{
  &:before {
    content: "";
    inset: 0;
    display: block;
    backdrop-filter: blur(2px) saturate(1.2);
    mask-image: linear-gradient(rgba(#000, 0), rgba(#000, .9) 80%, #000);
    position: sticky;
    top: 0rem;
    left: 0;
    height: 0.5rem;
    z-index: 10;
    width: 100%;
    pointer-events: none;
  }

  &:after {
    content: "";
    display: block;
    -webkit-backdrop-filter: blur(1px) saturate(1.2);
    backdrop-filter: blur(2px) saturate(1.2);
    mask-image: linear-gradient(rgba(#000, 0), rgba(#000, .9) 80%, #000);
    position: sticky;
        bottom: 0;
        left: 0;
        height: 1rem;
        z-index: 10;
        width: 100%;
    pointer-events: none;
  }
}

html:not(.aTheme, .zTheme) .skillsScrollBlur{
  &::before{
    content: none;
  }
  &::after{
    content: none;
  }
}